<input type="hidden" ng-init="user.sid = <%=user.sid%>"/>
<input type="hidden" ng-init="bid = '<%=bid%>'"/>
<input type="hidden" ng-init="doInit();"/>
<div class="panel panel-default battle-wrap">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <button class="btn btn-default btn-sm btn-xs" type="button" ng-click="goOutBattle();">
                    撤退
                </button>
            </div>
            <div class="col-md-10 col-xs-10">
                <h3 class="panel-title text-center" ng-init="qstitle='<%=qstitle%>'"><%=qstitle%>-战场</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <section class="user-warp">
            <dl class="user-items">
                <dd class="user-item"  ng-repeat="user in users" ng-click="toBeUsed(user.sid);">
                    <div class="item-progress">
                        <div class="item-layout">
                            <div ng-if="user.sid == <%=user.sid%>" data-sid="{{user.sid}}">
                                <div class="mask current"></div>
                                <p ng-cloak>{{user.name}}<i></i></p>
                            </div>
                            <div ng-if="user.sid != <%=user.sid%>" data-sid="{{user.sid}}">
                                <div class="mask"></div>
                                <p ng-cloak>{{user.name}}<i></i></p>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </section>
    </div>

    <div class="tool-wrap" ng-show="showToolbar">

        <button class="btn btn-default btn-sm btn-xs" ng-click="useTool();" type="button">拖后腿 * <i ng-cloak>{{toolNum}}</i></button>

        <button class="btn btn-default btn-sm btn-xs" type="button">
            第{{questionIndex}}题/共<%=paperNum%>题
        </button>

        <button class="btn btn-default btn-sm btn-xs" type="button">
            {{timer}}秒
        </button>

        <button class="btn btn-primary btn-sm btn-xs" type="button" ng-click="doReply();">
            提交
        </button>
    </div>

    <ul class="questions-items">
        <li class="questions-item" ng-repeat="question in questionBattleData">
            <dl class="list-group">
                <dt class="list-group-item">
                    {{question.title}}
                </dt>
                <dd class="list-group-item">
                    <p class="questions-opt"
                       ng-click="doSelectAnswer($event.target)"
                       ng-repeat="opt in question['opts']"
                       data-_id="{{question._id}}"
                       data-answer="{{opt['answer']}}">{{opt['answer']}}、{{opt['text']}}</p>
                </dd>
            </dl>
        </li>
    </ul>
    <a id="js-start-btn" class="ui button blue startBtn" ng-disable="!battleStatu" ng-class="{disable: !battleStatu}" ng-show="<%=startBtn%> || showBtn" ng-click="startBattle()">开始</a>

    <div class="completeTips" ng-show="battleIsEnd">
        <div class="com-bd">
            <h3>{{battleCom.text}}</h3>
            <p ng-if="battleCom.battleSucc">您第{{battleCom.index}}个挑战成功的！</p>
            <p>我的成绩：{{battleCom.grade}}</p>
            <p>本次最高成绩：{{battleCom.maxGrade}}</p>
            <p>历史最好成绩：{{battleCom.historyGrade}}  创造者：{{battleCom.historyCreater}}</p>
            <p>{{autoback}}秒后自动返回</p>
            <div ng-if="battleCom.showSucc">
                <div class="search-wp">
                    <div class="search-bd">
                        <input type="text" name="search_name" placeholder="输入姓名进行搜索"/>
                    </div>
                    <div class="search-btn">
                        <a class="ui button" ng-click="doSearchUser();">搜索</a>
                    </div>
                </div>
                <div class="text">
                    <textarea>{{challText}}</textarea>
                </div>
                <div class="btn-wp">
                    <a class="ui button blue" ng-click="doChall();">挑战他们</a>
                </div>
            </div>
            <div class="btn-wp">
                <a class="ui button blue" href="#/warzone/{{warId}}">退出战斗</a>
            </div>
        </div>
    </div>
</div>
