<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center"><%=qstitle%>-练兵场</h3>
    </div>
    <div class="panel-body">
        <section class="user-warp">
            <dl class="user-items">
                <% users.forEach(function(u){ %>
                    <dd class="user-item" data-user-id="<%=u.sid%>">
                        <div class="item-layout">
                            <% if(user.sid == u.sid){ %>
                                <div class="mask current"></div>
                            <%} else {%>
                                <div class="mask"></div>
                            <%}%>
                        </div>
                    </dd>
                <%})%>
            </dl>
        </section>
    </div>

    <div class="tool-wrap">
        <button class="btn btn-default btn-sm btn-xs" type="button">
            {{questionIndex}}/20
        </button>

        <button class="btn btn-default btn-sm btn-xs" type="button">
            {{timer}}秒
        </button>

        <button class="btn btn-primary btn-sm btn-xs" type="button" ng-click="doReply();">
            提交
        </button>
    </div>

    <ul class="questions-items">
        <% qStore.forEach(function(question){%>
        <li class="questions-item">
            <dl class="list-group">
                <dt class="list-group-item">
                    <%=question.title%>
                </dt>
                <dd class="list-group-item">
                    <% for(var p in question.opts) {%>
                        <p class="questions-opt" data-bid="<%=bid%>" data-_id=<%=question._id%> data-answer="<%=p%>"><%=p%>、<%=question.opts[p]%></p>
                    <%}%>
                </dd>
            </dl>
        </li>
        <%})%>
    </ul>
</div>
