<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#/settings">系统设置</a></li>
    <li role="presentation"><a href="#/importusers">用户导入</a></li>
    <li role="presentation"><a href="#/importquestions">题目导入</a></li>
    <li role="presentation"><a href="#/report">报表</a></li>
</ul>

<div class="container-fluid" style="margin-top:10px;">
    <form class="form-horizontal" role="form" action="/admin/settings" method="POST">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="timeScorePct" class="col-sm-4 control-label">对战耗时权重</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="timeScorePct" name="timeScorePct" value="<%=Setting.timeScorePct%>" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userScorePct" class="col-sm-4 control-label">对战人数权重</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="userScorePct" name="userScorePct" value="<%=Setting.userScorePct%>" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="succScorePct" class="col-sm-4 control-label">挑战成功权重</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="succScorePct" name="succScorePct" value="<%=Setting.succScorePct%>" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="battleEntryFee" class="col-sm-4 control-label">参战报名积分</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="battleEntryFee" name="battleEntryFee" value="<%=Setting.battleEntryFee%>" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userSuccPct" class="col-sm-4 control-label">挑战成功百分比</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="userSuccPct" name="userSuccPct" value="<%=Setting.userSuccPct%>" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="battleMaxUserNum" class="col-sm-4 control-label">战场中最多人数</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="battleMaxUserNum" name="battleMaxUserNum" value="<%=Setting.battleMaxUserNum%>" placeholder=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="battleMinUserNum" class="col-sm-4 control-label" for="">战场中最少人数</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="battleMinUserNum" name="battleMinUserNum" value="<%=Setting.battleMinUserNum%>" placeholder=""/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="paperNum" class="col-sm-4 control-label">每个题集生成的试卷数量</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="paperNum" name="paperNum" value="<%=Setting.paperNum%>" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><div class="form-group">
                    <label for="battleQuestionNum" class="col-sm-4 control-label">每套试卷试题个数</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="battleQuestionNum" name="battleQuestionNum" value="<%=Setting.battleQuestionNum%>" placeholder="">
                    </div>
                </div>
            </div>

            <div class="col-sm-6"><div class="form-group">
                    <label for="battleQuestionNum" class="col-sm-4 control-label">题集超时自动提交时间(秒)</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="timeOut" name="timeOut" value="<%=Setting.timeOut%>" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top: 50px;">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary btn-lg" style="padding: 20px 100px;">保存</button>
            </div>
        </div>
    </form>
</div>